extends ./layout.pug

include ../mixins/_head.pug
include ../mixins/_navigation.pug
include ../mixins/_scripts.pug
include ../mixins/_footer.pug
include ../mixins/_subFooter.pug
include ../mixins/_maconery-grid-8.pug

append meta
	title Onatty Kreasyon

block css
	- var path = '../'
	+css(path)

block headScripts
	- path
	+headScripts(path)

block favicon
	- path
	+favicon(path)

block navigation
	- path
	+navigation(path)

block footer
	- path
	+footer(path)

block scripts
	- path
	+scripts(path)

block content
	section
		.container
			.flyer
				.col-md-8
					- localpath = path+'images/Events/2017/'
					img(class="img-responsive" src=localpath+"flyer.jpg" alt="")
