div(class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms")
  .row
    .col-md-3.col-sm-6
      .widget
        h3 Our Partners
        ul
          li
            a(href="#") Adipisicing Elit
          li
            a(href="#") Adipisicing Elit
          li
            a(href="#") Adipisicing Elit

    .col-md-3.col-sm-6
      .widget
        h3 Our Partners
        ul
          li
            a(href="#") Adipisicing Elit
          li
            a(href="#") Adipisicing Elit
          li
            a(href="#") Adipisicing Elit

    .col-md-3.col-sm-6
      .widget
        h3 Our Partners
        ul
          li
            a(href="#") Adipisicing Elit
          li
            a(href="#") Adipisicing Elit
          li
            a(href="#") Adipisicing Elit

    .col-md-3.col-sm-6
      .widget
        h3 Our Partners
        ul
          li
            a(href="#") Adipisicing Elit
          li
            a(href="#") Adipisicing Elit
          li
            a(href="#") Adipisicing Elit
