div(class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms")
  .row
    .col-md-3.col-sm-6
      .widget
        h3 L'institut du locks
        p Situé au 136 rue charonne …, l'institut est ouvert du Mercredi au Samedi de … à …
        p L'institut Onatty ne reçoit que sur rendez-vous afin de vous assurer ainsi écoute et attention pour répondre aux besoins dee vos locks.
//-
    .col-md-3.col-sm-6
      .widget
        h3 Our Partners
        ul
          li
            a(href="#") Adipisicing Elit
          li
            a(href="#") Adipisicing Elit
          li
            a(href="#") Adipisicing Elit

    .col-md-3.col-sm-6
      .widget
        h3 Our Partners
        ul
          li
            a(href="#") Adipisicing Elit
          li
            a(href="#") Adipisicing Elit
          li
            a(href="#") Adipisicing Elit

    .col-md-3.col-sm-6
      .widget
        h3 Our Partners
        ul
          li
            a(href="#") Adipisicing Elit
          li
            a(href="#") Adipisicing Elit
          li
            a(href="#") Adipisicing Elit
