.container
  .row
    .col-sm-offset-3.col-sm-6
      div(class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms")
        .pull-left
          i.fa.fa-phone
        .media-body
          h2 Pour nous contacter
          p Vous pouvez contacter notre salon pour tout renseignement concernant nos prestations +33 xxx xxx xxx
