.container
  .row
    .col-sm-6
      .event-single
        a(href="fashion-hair-show-2016.html")
          img(src="images/Events/fashion-hair-show-2016.jpg" alt="")
        .event-single-bottom
          h3
            a(href="fashion-hair-show-2016.html") 2ème édition du 1er salon Locks/Mode international
          //-p Duis autem vel eum iriure dolor in hendrerit inupuate velit amress molestie consequat vel illum dolor eune dolore eu feugiat nulla.
          p.text-right
            span.postdate
              i.fa.fa-calendar
              date 24 - Septembre - 2016

    .col-sm-6
      .event-single
        a(href="fashion-hair-show-2015.html")
          img(src="images/Events/fashion-hair-show-2015.jpg" alt="")
        .event-single-bottom
          h3
            a(href="fashion-hair-show-2015.html") Show styling Locks Make up Mode
          //-p
            Duis autem vel eum iriure dolor in hendrerit inupuate velit amress molestie consequat vel illum dolor eune dolore eu feugiat nulla.
          p.text-right
            span.postdate
              i.fa.fa-calendar
              date 6 - Juin - 2015

  .row
    .col-sm-12
      .blog-area-pagination
        ul.pagination
          li.current-page
            a(href="#") 1
//-
                <li class=""><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#" role="button" data-slide="next" class="blog-pag blog-pagination-next">Next
