.container.wow.fadeInDown(data-wow-duration="1000ms" data-wow-delay="600ms")
  .row
    .col-md-4
      .widget.footer-widget.widget_recent_entries
        h3 Latest News
        p L'institut Onatty ne reçoit que sur rendez-vous afin de vous assurer ainsi écoute et attention pour répondre aux besoins de vos locks.

    .col-md-4
      #text-2.widget.footer-widget.widget_text
        h3 Nous sommes ouvert
        .textwidget
          .box-border.double
            ul.list-border-bottom
              li
                span.pull-left Lundi - Mardi
                span.pull-right.id-color 9:00 à 10:00
                .clearfix
              li
                span.pull-left Mercredi
                span.pull-right.id-color 9:00 à 10:00
                .clearfix
              li
                span.pull-left Jeudi
                span.pull-right.id-color 9:00 à 10:00
                .clearfix
              li
                span.pull-left Vendredi
                span.pull-right.id-color 9:00 à 10:00
                .clearfix
              li
                span.pull-left Samedi
                span.pull-right.id-color 9:00 à 10:00
                .clearfix

    .col-md-4
