.container
  .row
    .col-sm-6
      d &copy; 2017 Onatty
    .col-sm-6
      ul.pull-right
        li
          a(href="#") Accueil
        li
          a(href="#horaires") Nos Horaires
        li
          a(href="#") Evènements
        li
          a(href="#prestations") Prestations
        li
          a(href="#recent-works") Réalisations
