.row
  div(class="wpb_column wpb_block1 vc_column_container col-sm-12 col-md-4 vc_col-has-fill")
    div(class="vc_column-inner vc_custom")
      .wpb_wrapper
        .box-icon
          .text
            h4 Bienvenue à O’NATTY
            p Votre espace de soins capillaires exclusivement consacré à la beauté plurielle des dread locks! Convivialité, qualité des soins, conseil et transparence sont nos principales valeurs.

  div(class="text-light wpb_column wpb_block2 vc_column_container col-sm-12 col-md-4 vc_col-has-fill")
    .vc_column-inner.vc_custom.block-filter
      .wpb_wrapper
        .box-icon
          .text
            //-h4 Special Promo
            p Fasciné par ce style ethnik, intrinsèque à notre philosophie, nous souhaitons, bien plus qu'une idéologie vous transmettre notre héritage culturelle à travers la coiffure, Tout est mis en œuvre afin de repondre a vos attentes. O'natty est aussi un lieu de partage, d’amour et de respect dans un esprit fondamentalement « roots ».
  div(class="text-middle text-center wpb_column wpb_block3 vc_column_container col-sm-12 col-md-4")
    div(class="vc_column-inner vc_custom")
      div(class="wpb_wrapper wow fadeInUp animated" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; -webkit-animation-delay: 0.25s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp; opacity: 500;")
        a(href="//www.lsreservation.com/onatty" class="btn btn-line-white btn-big") Prendre Rendez-vous

.clearfix
