.content_wrap_outer.fullwrap-layout
  .content_wrap
    div(class="container-masonry ux-portfolio-spacing-40 ux-portfolio-3col container ux-has-filter filter-center" data-col="3" data-spacer="40" data-template="intro-above")
      div(class="masonry-list masonry-grid grid-mask-filled-left" style="position: relative; height: 1170px;")
        section(class="grid-item grid-item-small filter_branding filter_illustration filter_works" style="width: 350px; height: 252.5px; margin: 20px; position: absolute; left: 0px; top: 0px;")
          div.grid-item-inside.grid-show
            .recent-work-wrap
              img(class="img-responsive" src="images/Events/2016/fashion-hair-show-2016-4-thumb.jpg" alt="")
              .overlay
                .recent-work-inner
                  a(class="preview" href="images/Events/2016/fashion-hair-show-2016-4.png" rel="prettyPhoto")
                    i.fa.fa-2x.fa-eye
                    Voir

        section(class="grid-item grid-item-small filter_photography filter_works" data-postid="30" style="width: 350px; height: 252.5px; margin: 20px; position: absolute; left: 390px; top: 0px;")
          .grid-item-inside.grid-show
            .recent-work-wrap
              img(class="img-responsive" src="images/Events/2016/fashion-hair-show-2016-2-thumb.jpg" alt="")
              .overlay
                .recent-work-inner
                  a(class="preview" href="images/Events/2016/fashion-hair-show-2016-2.jpg" rel="prettyPhoto")
                    i.fa.fa-2x.fa-eye
                    Voir

        section(class="grid-item grid-item-long grid-item—width2 filter_works" data-postid="48" style="width: 740px; height: 252.5px; margin: 20px; position: absolute; left: 0px; top: 292px;")
          .grid-item-inside.grid-show
            .recent-work-wrap
              img(class="img-responsive" src="images/Events/2016/fashion-hair-show-2016-1-thumb.jpg" alt="")
              .overlay
                .recent-work-inner
                  a(class="preview" href="images/Events/2016/fashion-hair-show-2016-1.jpg" rel="prettyPhoto")
                    i.fa.fa-2x.fa-eye
                    Voir

        section(class="grid-item grid-item-tall filter_branding filter_works" data-postid="97" style="width: 350px; height: 570px; margin: 20px; position: absolute; left: 780px; top: 0px;")
          .grid-item-inside.grid-show
            .recent-work-wrap
              img(class="img-responsive" src="images/Events/2016/fashion-hair-show-2016-7-thumb.jpg" alt="")
              .overlay
                .recent-work-inner
                  a(class="preview" href="images/Events/2016/fashion-hair-show-2016-7.jpg" rel="prettyPhoto")
                    i.fa.fa-2x.fa-eye
                    Voir

        section(class="grid-item grid-item-tall filter_branding filter_works" data-postid="97" style="width: 350px; height: 570px; margin: 20px; position: absolute; left: 0; top: 597px;")
          .grid-item-inside.grid-show
            .recent-work-wrap
              img(class="img-responsive" src="images/Events/2016/fashion-hair-show-2016-6-thumb.jpg" alt="")
              .overlay
                .recent-work-inner
                  a(class="preview" href="images/Events/2016/fashion-hair-show-2016-6-thumb.jpg" rel="prettyPhoto")
                    i.fa.fa-2x.fa-eye
                    Voir

        section(class="grid-item grid-item-small filter_branding filter_illustration filter_works" style="width: 350px; height: 252.5px; margin: 20px; position: absolute; left: 390px; top: 597px;")
          div.grid-item-inside.grid-show
            .recent-work-wrap
              img(class="img-responsive" src="images/Events/2016/fashion-hair-show-2016-5-thumb.jpg" alt="")
              .overlay
                .recent-work-inner
                  a(class="preview" href="images/Events/2016/fashion-hair-show-2016-5.jpg" rel="prettyPhoto")
                    i.fa.fa-2x.fa-eye
                    Voir

        section(class="grid-item grid-item-small filter_branding filter_illustration filter_works" style="width: 350px; height: 252.5px; margin: 20px; position: absolute; left: 780px; top: 597px;")
          div.grid-item-inside.grid-show
            .recent-work-wrap
              img(class="img-responsive" src="images/Events/2016/fashion-hair-show-2016-3-thumb.jpg" alt="")
              .overlay
                .recent-work-inner
                  a(class="preview" href="images/Events/2016/fashion-hair-show-2016-3.jpg" rel="prettyPhoto")
                    i.fa.fa-2x.fa-eye
                    Voir

        section(class="grid-item grid-item-long grid-item—width2 filter_works" data-postid="48" style="width: 740px; height: 252.5px; margin: 20px; position: absolute; left: 390px; top: 889px;")
          .grid-item-inside.grid-show
            .recent-work-wrap
              img(class="img-responsive" src="images/Events/2016/fashion-hair-show-2016-8-thumb.jpg" alt="")
              .overlay
                .recent-work-inner
                  a(class="preview" href="images/Events/2016/fashion-hair-show-2016-8.jpg" rel="prettyPhoto")
                    i.fa.fa-2x.fa-eye
                    Voir
