mixin show-4-blocks(image1, image2, image3, image4)
  div(class="portfolio-grid" style="position: relative; height: 775px;")
    div(class="grid-item grid-item-hp3-width1 development" style="position: absolute; left: 0px; top: 0px;")
      a(href="#" class="sin-project")
        //-img(src="images/Events/"+image1+"-thumb.jpg" alt="")
      .margin-bottom.margin-bottom2

    div(class="grid-item grid-item-hp3-width1 development" style="position: absolute; left: 260px; top: 0px;")
      a(href="#" class="sin-project")
        //-img(src="images/Events/"+image2+"-thumb.jpg" alt="")
      .margin-bottom.margin-bottom2

    div(class="grid-item grid-item-hp3-width1 development" style="position: absolute; left: 520px; top: 0px;")
      a(href="#" class="sin-project")
        //-img(src="images/Events/"+image3+"-thumb.jpg" alt="")
      .margin-bottom.margin-bottom2

    div(class="grid-item grid-item-hp3-width1 development" style="position: absolute; left: 780px; top: 0px;")
      a(href="#" class="sin-project")
        //-img(src="images/Events/"+image4+"-thumb.jpg" alt="")
      .margin-bottom.margin-bottom2

//-
    <div class="grid-item grid-item-hp3-width1 development" style="position: absolute; left: 260px; top: 0px;">
        <a href="#" class="sin-project"><img src="assets/images/Hp3-img2.jpg" alt="">
            <div class="image-hover">
                <div class="hover-black">
                    <h4>T-shirt Design</h4>
                    <p>Branding</p>
                </div>
            </div>
        </a>
        <div class="margin-bottom margin-bottom2"></div>
    </div>
    <div class="grid-item grid-item-hp3-width1 development" style="position: absolute; left: 520px; top: 0px;">
        <a href="#" class="sin-project"><img src="assets/images/Hp3-img3.jpg" alt="">
            <div class="image-hover">
                <div class="hover-black">
                    <h4>T-shirt Design</h4>
                    <p>Branding</p>
                </div>
            </div>
        </a>
        <div class="margin-bottom margin-bottom2"></div>
    </div>

    <div class="grid-item design grid-item--width3" style="position: absolute; left: 780px; top: 0px;">
        <a href="#" class="sin-project"><img src="assets/images/Hp3-img4.jpg" alt="">
            <div class="image-hover">
                <div class="hover-black">
                    <h4>T-shirt Design</h4>
                    <p>Branding</p>
                </div>
            </div>
        </a>
        <div class="margin-bottom margin-bottom2"></div>
    </div>
    <div class="grid-item grid-item-hp3-width1 development branding" style="position: absolute; left: 260px; top: 260px;">
        <a href="#" class="sin-project"><img src="assets/images/Hp3-img5.jpg" alt="">
            <div class="image-hover">
                <div class="hover-black">
                    <h4>T-shirt Design</h4>
                    <p>Branding</p>
                </div>
            </div>
        </a>
        <div class="margin-bottom margin-bottom2"></div>
    </div>
    <div class="grid-item grid-item-hp3-width1 development design" style="position: absolute; left: 520px; top: 260px;">
        <a href="#" class="sin-project"><img src="assets/images/Hp3-img7.jpg" alt="">
            <div class="image-hover">
                <div class="hover-black">
                    <h4>T-shirt Design</h4>
                    <p>Branding</p>
                </div>
            </div>
        </a>
        <div class="margin-bottom margin-bottom2"></div>
    </div>
    <div class="grid-item grid-item-hp3-width1 development design" style="position: absolute; left: 0px; top: 261px;">
        <a href="#" class="sin-project"><img src="assets/images/Hp3-img6.jpg" alt="">
            <div class="image-hover">
                <div class="hover-black">
                    <h4>T-shirt Design</h4>
                    <p>Branding</p>
                </div>
            </div>
        </a>
        <div class="margin-bottom margin-bottom2"></div>
    </div>


    <div class="grid-item grid-item-hp3-width1 design branding" style="position: absolute; left: 780px; top: 264px;">
        <a href="#" class="sin-project">
           <img src="assets/images/Hp3-img8.jpg" alt="">
            <div class="image-hover">
                <div class="hover-black">
                    <h4>T-shirt Design</h4>
                    <p>Branding</p>
                </div>
            </div>
        </a>
        <div class="margin-bottom margin-bottom2"></div>
    </div>

    <div class="grid-item grid-item-hp3-width1 development design" style="position: absolute; left: 1040px; top: 264px;">
        <a href="#" class="sin-project"><img src="assets/images/Hp3-img9.jpg" alt="">
            <div class="image-hover">
                <div class="hover-black">
                    <h4>T-shirt Design</h4>
                    <p>Branding</p>
                </div>
            </div>
        </a>
        <div class="margin-bottom margin-bottom2"></div>
    </div>

    <div class="grid-item grid-item-hp3-width1 design branding" style="position: absolute; left: 0px; top: 521px;">
        <a href="#" class="sin-project"><img src="assets/images/Hp3-img10.jpg" alt="">
            <div class="image-hover">
                <div class="hover-black">
                    <h4>T-shirt Design</h4>
                    <p>Branding</p>
                </div>
            </div>
        </a>
    </div>

    <div class="grid-item grid-item-hp3-width1 design branding" style="position: absolute; left: 260px; top: 521px;">
        <a href="#" class="sin-project"><img src="assets/images/Hp3-img11.jpg" alt="">
            <div class="image-hover">
                <div class="hover-black">
                    <h4>T-shirt Design</h4>
                    <p>Branding</p>
                </div>
            </div>
        </a>
    </div>

    <div class="grid-item grid-item-hp3-width1 design branding" style="position: absolute; left: 780px; top: 524px;">
        <a href="#" class="sin-project"><img src="assets/images/Hp3-img12.jpg" alt="">
            <div class="image-hover">
                <div class="hover-black">
                    <h4>T-shirt Design</h4>
                    <p>Branding</p>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item grid-item-hp3-width1 design branding" style="position: absolute; left: 1040px; top: 526px;">
        <a href="#" class="sin-project"><img src="assets/images/Hp3-img13.jpg" alt="">
            <div class="image-hover">
                <div class="hover-black">
                    <h4>T-shirt Design</h4>
                    <p>Branding</p>
                </div>
            </div>
        </a>
    </div>
