div(class="on-main-section not-fullscreen background parallax ec-action-full" data-img-width="1920" data-img-height="204" data-diff="100" style="background-attachment: fixed; background-size: 4009.4117647058824px 426px; background-position: 50% -42.736486486486484px;")
	.ec-transparent-bg
	.container
		.center.wow.fadeInDown
			h2.text-center O’Natty et vous : Nos Horaires
		.row
			.col-md-4.on-white-info
				.on-content-title
					h3 Venir à l’Institut
					p Puisque chacun bénéficie d’un moment unique et intime, nous avons besoin de vous écouter et de comprendre vos besoins.
					p Notre démarche visagistique, nos produits et nos techniques ainsi que notre attention vous permettrons d'obtenir une totale satisfaction et d'etre sublimé par un styling personnalisé.
					p Venez nous rendre visite , nous nous ferons un plaisir de vous accueillir dans un esprit convivial et chaleureux.
					p A VOS RDV!!!
			.col-md-8
				.on-opining-hour
					ul.row
						li.col-md-4
							.opining-hout-wrap
								h4 Mercredi
								span 10h - 19h
						li.col-md-4
							.opining-hout-wrap
								h4 Jeudi
								span 10h - 19h
						li.col-md-4
							.opining-hout-wrap
								h4 Vendredi
								span 10h - 22h
						li.col-md-4
							.opining-hout-wrap
								h4 Samedi
								span 10h - 19h
						li.col-md-4
							.opining-hout-wrap
								h4 Dimanche
								span Fermé
						li.col-md-4
							.opining-hout-wrap
								h4 Lundi+Mardi
								span Fermé
