div(class="on-main-section not-fullscreen background parallax ec-action-full" data-img-width="1920" data-img-height="204" data-diff="100" style="background-attachment: fixed; background-size: 4009.4117647058824px 426px; background-position: 50% -42.736486486486484px;")
  .ec-transparent-bg
  .container
    .center.wow.fadeInDown
      h2.text-center Nos Horaires
    .row
      .col-md-4.on-white-info
        .on-content-title
          h3 Notre salon est ouvert
        p Fusce placerat mollis tellus ut porta. Cras efficitur consequat massa sit amet hendrerit. Cras posuere mi quis leo commodo egestas. Sed porta pulvinar nisl, quis mollis risus ultrices vitae. Cras posuere mi quis leo commodo egestas.
      .col-md-8
        .on-opining-hour
          ul.row
            li.col-md-4
              .opining-hout-wrap
                h4 Lundi+Mardi
                span Fermé
            li.col-md-4
              .opining-hout-wrap
                h4 Mercredi
                span 10:00 - 19:00
            li.col-md-4
              .opining-hout-wrap
                h4 Jeudi
                span 10:00 - 19:00
            li.col-md-4
              .opining-hout-wrap
                h4 Vendredi
                span 10:00 - 22:00
            li.col-md-4
              .opining-hout-wrap
                h4 Samedi
                span 10:00 - 19:00
            li.col-md-4
              .opining-hout-wrap
                h4 Dimanche
                span Fermé
