div(class="on-main-section not-fullscreen background parallax ec-action-full" data-img-width="1920" data-img-height="204" data-diff="100" style="background-attachment: fixed; background-size: 4009.4117647058824px 426px; background-position: 50% -42.736486486486484px;")
  .ec-transparent-bg
  .container
    .center.wow.fadeInDown
      h2.text-center Nos Horaires
    .row
      .col-md-4.on-white-info
        .on-content-title
          h3 Notre salon est ouvert
        p O'natty,  est un espace exclusivement dédié à la beauté plurielle des cheveux naturelles. Nous sommes spécialisé dans l’entretien et le styling des locks
        p Fasciné par ce style ethnik, intrinsèque à notre philosophie, nous souhaitons, bien plus qu'une idéologie vous transmettre notre héritage culturelle à travers la coiffure,
        p Notre démarche visagistique ainsi que les produits et techniques adaptés à vos cheveux nous permettent de personnaliser votre coupe jusqu'a la rendre unique.
        p En outre tout est mis en œuvre afin que notre clientèle soit considérée et magnifié  nos Valeurs sont l’Accueil la qualité les conseisl et la transparences.
      .col-md-8
        .on-opining-hour
          ul.row
            li.col-md-4
              .opining-hout-wrap
                h4 Lundi+Mardi
                span Fermé
            li.col-md-4
              .opining-hout-wrap
                h4 Mercredi
                span 10:00 - 19:00
            li.col-md-4
              .opining-hout-wrap
                h4 Jeudi
                span 10:00 - 19:00
            li.col-md-4
              .opining-hout-wrap
                h4 Vendredi
                span 10:00 - 22:00
            li.col-md-4
              .opining-hout-wrap
                h4 Samedi
                span 10:00 - 19:00
            li.col-md-4
              .opining-hout-wrap
                h4 Dimanche
                span Fermé
