.container
  .center.wow.fadeInDown
    h2 Nos Partenaires
    //-p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit

  .partners
    ul
      li
        a(href="#")
          img(class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="images/partners/ciluw-creations.jpg")

      li
        a(href="#")
          img(class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="images/partners/rawatan-wax-creations.jpg")

      li
        a(href="#")
          img(class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="images/partners/nappy-queen.jpg")

      li
        a(href="#")
          img(class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="images/partners/paris-love-locks.jpg")

      li
        a(href="#")
          img(class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="images/partners/carre-black-beaute.jpg")
