.wpb_row.vc_row-fluid
  .container
    .row
      .wpb_column.vc_column_container.vc_col-sm-12
        .vc_column-inner
          .de_tab.tab_style_2
            ul(class="nav nav-tabs price_nav" role="tablist")
              li(role="presentation" class="active")
                a(href="#depart-locks" aria-controls="depart-locks" role="tab" data-toggle="tab") Départ locks
              li(role="presentation")
                a(href="#resserage" aria-controls="resserage" role="tab" data-toggle="tab") Resserage des racines
              li(role="presentation")
                a(href="#coiffures" aria-controls="coiffures" role="tab" data-toggle="tab") Coiffures
            .tab-content
              div(role="tabpanel" class="tab-pane prices-tab active" id="depart-locks")
                .row
                  .col-md-6
                    h3.text-center Tarifs Adultes
                    ul
                      li
                        .c1 Courts
                        .c2
                        .c3 90€
                    ul
                      li
                        .c1 Mi-longs
                        .c2
                        .c3 95€
                    ul
                      li
                        .c1 Longs
                        .c2
                        .c3 100€
                  .col-md-6
                    h3.text-center Tarifs Enfants
                    ul
                      li
                        //-.c1
                          span.label.label-default 5% Off
                          Hair Extension
                        .c1 Courts
                        .c2
                        .c3 55€
                    ul
                      li
                        .c1 Mi-longs
                        .c2
                        .c3 70€
                    ul
                      li
                        .c1 Longs
                        .c2
                        .c3 80€
              div(role="tabpanel" class="tab-pane prices-tab" id="resserage")
                .row
                  .col-md-6
                    h3.text-center Tarifs Adultes
                    ul
                      li
                        .c1 Twist & coiffure simple
                        .c2
                        .c3 60€
                    ul
                      li
                        .c1 Latching & coiffure
                        .c2
                        .c3 75€
                  .col-md-6
                    h3.text-center Tarifs Enfants
                    ul
                      li
                        //-.c1
                          span.label.label-default 5% Off
                          Hair Extension
                        .c1 Twist & coiffure simple
                        .c2
                        .c3 50€
                    ul
                      li
                        .c1 Latching & coiffure
                        .c2
                        .c3 60€
              div(role="tabpanel" class="tab-pane prices-tab" id="coiffures")
                .row
                  .col-md-6
                    h3.text-center Tarifs Adultes
                    ul
                      li
                        .c1 Styling locks
                        .c2
                        .c3 à partir de 15€
                    ul
                      li
                        .c1 Vanilles
                        .c2
                        .c3 à partir de 65€
                    ul
                      li
                        .c1 Cheveux naturels
                        .c2
                        .c3 à partir de 25€
                  .col-md-6
                    h3.text-center Tarifs Enfants
                    ul
                      li
                        //-.c1
                          span.label.label-default 5% Off
                          Hair Extension
                        .c1 Styling locks
                        .c2
                        .c3 à partir de 10€
                    ul
                      li
                        .c1 Vanilles
                        .c2
                        .c3 à partir de 65€
                    ul
                      li
                        .c1 Cheveux naturels
                        .c2
                        .c3 à partir de 15€

            .clearfix
