.container
  .row
    .col-sm-12
      .section-header.wow.fadeIn
        h2 Nos Tarifs
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lacus convallis
    .col-sm-12
      .pricing-container
        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait #1
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Shampoing
                li Soin
                li Resserage
                li Coiffure simple
            .col-sm-3.plan-price
              span.price €80
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait #2
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Shampoing
                li Soin
                li Crochet
                li Coiffure simple
            .col-sm-3.plan-price
              span.price €90
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait #3
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list.plan-list2
              ul.list-unstyled
                li Soins vapeurs
                li Bain d'huile
                li Shampoing
                li Raffraichissement
                li Style
            .col-sm-3.plan-price
              span.price €35
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait #4
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Soin personnalisé
                li (Regroupant les forfaits 1 & 2)
            .col-sm-3.plan-price
              span.price €95
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait #5
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Soins
                li Shampoing sur cheveu crépu
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
            .col-sm-3.plan-price
              span A partir de
              span.price €65
              a(href="#" class="plan-buy-btn") Prendre rendez-vous
