.container
  .center.wow.fadeInDown
    h2.text-center Nos Tarifs
  .row
    .col-sm-12
      .table-responsive
        table.table.table-condensed.table-striped.table-hover.m-b-0
          thead
            tr
              th Prestations
              th Tarifs adultes
              th Tarifs enfants
          tbody
            tr
              td Diagnostique
              td.text-center Gratuit
              td.text-center Gratuit
            tr
              td Départ locks
              td
              td
            tr.text-center
              td Courts
              td 80€
              td 70€
            tr.text-center
              td Mi-longs
              td 85€
              td —
            tr.text-center
              td Longs
              td 90€
              td —
            tr
              td Resserage des racines
              td
              td
            tr.text-center
              td Twist & coiffure simple
              td 60€
              td 50€
            tr.text-center
              td Latching & coiffure
              td 75€
              td 60€
            tr
              td Coiffures
              td
              td
            tr.text-center
              td Styling locks
              td à partir de 15€
              td à partir de 10€
            tr.text-center
              td Vanilles
              td à partir de 65€
              td à partir de 65€
            tr.text-center
              td Cheveux naturels
              td à partir de 25€
              td à partir de 15€
    .col-sm-12
      .pricing-container
        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait #1
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Shampoing
                li Soin
                li Resserage
                li Coiffure simple
            .col-sm-3.plan-price
              span.price €80
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait #2
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Shampoing
                li Soin
                li Crochet
                li Coiffure simple
            .col-sm-3.plan-price
              span.price €90
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait #3
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list.plan-list2
              ul.list-unstyled
                li Soins vapeurs
                li Bain d'huile
                li Shampoing
                li Raffraichissement
                li Style
            .col-sm-3.plan-price
              span.price €35
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait #4
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Soin personnalisé
                li (Regroupant les forfaits 1 & 2)
            .col-sm-3.plan-price
              span.price €95
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait #5
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Soins
                li Shampoing sur cheveu crépu
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
            .col-sm-3.plan-price
              span A partir de
              span.price €65
              a(href="#" class="plan-buy-btn") Prendre rendez-vous
