.container
  .row
    .col-sm-12
      .section-header.wow.fadeIn
        h2 Nos Tarifs
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lacus convallis
    .col-sm-12
      .pricing-container
        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait basic
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
            .col-sm-3.plan-price
              span A partir de
              span €49.99
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait basic
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
            .col-sm-3.plan-price
              span A partir de
              span €49.99
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait basic
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
            .col-sm-3.plan-price
              span A partir de
              span €49.99
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait basic
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
            .col-sm-3.plan-price
              span A partir de
              span €49.99
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait basic
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
            .col-sm-3.plan-price
              span A partir de
              span €49.99
              a(href="#" class="plan-buy-btn") Prendre rendez-vous
//-        <div class="pricing-single wow fadeIn" data-wow-duration=".7s" style="visibility: visible; animation-duration: 0.7s; -webkit-animation-duration: 0.7s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
            <div class="clearfix">
                <div class="col-sm-6 plan-name">
                    <h3>Advance Maintain</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.</p>
                </div>
                <div class="col-sm-3 plan-list">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check-circle"></i> Basic maintain your bike</li>
                        <li><i class="fa fa-check-circle"></i> Primary &amp; Casing change</li>
                        <li><i class="fa fa-check-circle"></i> Chain Tuneup</li>
                        <li><i class="fa fa-check-circle"></i> 6 months Warranty</li>
                    </ul>
                </div>
                <div class="col-sm-3 plan-price">
                    <span>Starting In</span>
                    <span>$149.99</span>
                    <a href="#" class="plan-buy-btn">Make Appointment</a>
                </div>
            </div>
        </div><!-- Ends: .pricing-single -->
        <div class="pricing-single wow fadeIn" data-wow-duration=".7s" style="visibility: visible; animation-duration: 0.7s; -webkit-animation-duration: 0.7s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
            <div class="clearfix">
                <div class="col-sm-6 plan-name">
                    <h3>Custom Bicycle</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.</p>
                </div>
                <div class="col-sm-3 plan-list">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check-circle"></i> Basic maintain your bike</li>
                        <li><i class="fa fa-check-circle"></i> Primary &amp; Casing change</li>
                        <li><i class="fa fa-check-circle"></i> Chain Tuneup</li>
                        <li><i class="fa fa-check-circle"></i> 6 months Warranty</li>
                    </ul>
                </div>
                <div class="col-sm-3 plan-price">
                    <span>Starting In</span>
                    <span>$249.99</span>
                    <a href="#" class="plan-buy-btn">Make Appointment</a>
                </div>
            </div>
        </div><!-- Ends: .pricing-single -->
