.container
  .center.wow.fadeInDown
    h2.text-center Nos Tarifs
    h4.text-center Diagnostique gratuit
  include ./_prices.pug

  .row.vc_custom_1475135108413
    .col-sm-12.col-md-8.col-md-offset-2
      p En aparté, après un diagnostique de l'état général de vos locks nous choisissons les soins et la technique la mieux adaptée pour votre entretien.<br>Diverses techniques permettent de resserer les locks:
      p <strong>La reprise en twist</strong> est la méthode la plus simple et la moins fragilisante dès que vos locks deviennent matures.<br>Elle permet à l'aide d'un gel et d'un peigne  (à base de produit naturel) de fixer la locks et de rafraichir son allure.

      p <strong>Le palm rooling</strong> permet de réguler l'aspect de la dread , elle a une action sur la racine mais aussi sur les longueurs.

      p <strong>Le latching</strong> est la technique qui permet de fixer plus longuement les racines certe mais elle reste néamoins en fonction du type de cheveux celle qui affaiblit le plus vos dreads. Lorsque l'on opte pour cette technique, on doit veiller à ce que les locks soient saines et n'accumulent pas de résidus qui risquent au fil du temps de les affiner.

      h2
        span.label.label-main Nos Soins
      p Généralement, le soin vapeur s'associe avec un bain d'huile ( avocat, jojoba , abyssinie etc....)

      h2
        span.label.label-main Efficacité :
      ul
        li Ouvre les pores du cuir chevelu, dilate les écailles du cheveu et permet ainsi  une meilleure  pénétration des produits
        li Favorise le ralentissement des chutes de cheveux
        li Redonne de la vitalité aux tiges pilaires
        li Nettoie en profondeur les locks et aide à lutter contre la poussière incrustée.
      p Après chaque bain de vapeur vos locks retrouvent leur brillance. A réaliser 3 a 4 fois par an.
      p Le shampoing est une étape importante, nous avons donc choisi les meilleurs produits pour soigner vos locks. Nos shampoings clarifiants de la gamme BIOCOIFF et Nappy Queen sont les incontournables pour bien nettoyer les locks. Nous utilisons également les soins nutritifs de la gamme karacare Naturals textures.
      p Le styling (coiffure), l'art de sublimer vos dreads est le plus apprécié de tous. Nous réalisons en tenant compte de la forme de votre visage la coiffure tendance qui saura vous faire scintiller !

      p.lead.text-center À vos rendez-vous !
  .row

    .col-sm-12
      .pricing-container
        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-5.plan-name
              h3 Forfait #1
              //-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-4.plan-list
              ul.list-unstyled
                li Shampoing
                li Soins
                li Resserage
                li Coiffure simple
            .col-sm-3.plan-price
              span.price €95
              a(href="//www.lsreservation.com/onatty" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-5.plan-name
              h3 Forfait #2
              //-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-4.plan-list
              ul.list-unstyled
                li Shampoing
                li Soins
                li Crochet
                li Coiffure simple
            .col-sm-3.plan-price
              span.price €105
              a(href="//www.lsreservation.com/onatty" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-5.plan-name
              h3 Forfait #3
              //-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-4.plan-list.plan-list2
              ul.list-unstyled
                li Soins vapeurs
                li Bain d'huile
                li Shampoing
                li Raffraichissement
                li Style
            .col-sm-3.plan-price
              span.price €40
              a(href="//www.lsreservation.com/onatty" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-5.plan-name
              h3 Forfait #4
              //-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-4.plan-list
              ul.list-unstyled
                li Soins personnalisé détoxifiant
                li (Regroupant les forfaits 1 & 3)
            .col-sm-3.plan-price
              span.price €120
              a(href="//www.lsreservation.com/onatty" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-5.plan-name
              h3 VIP 1
              p Atelier individuel, Apprendre à mieux maitriser ses locks en 2H30 d'Atelier /Repartez avec la LOCKS BOX de saison.
            .col-sm-4.plan-list.plan-list2
              ul.list-unstyled
                li Diagnostic et conseil personnalisé (15minutes)
                li 1 produit d’entretien de votre choix
                li Apprendre à mieux maitriser ses locks en 2H30 d'Atelier
            .col-sm-3.plan-price
              //-span A partir de
              span.price €170
              a(href="//www.lsreservation.com/onatty" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-5.plan-name
              h3 VIP 2
              p Avoir de belles locks c'est possible.
              p Sur rendez-vous uniquement (le mercredi ou vendredi de 16H à 20H) ce forfait sur mesure  vous rendra totalement autonome en 4H.<br>O'Natty vous confiera tous les secrets en exclusivité pour comprendre vos locks et apprendre à les entretenir ou que vous soyez!!
            .col-sm-4.plan-list.plan-list2
              ul.list-unstyled
                li Diagnostic et conseil personnalisé (15minutes)
                li Atelier Apprendre a s’auto coiffer (méthode, technique de rafraichissement, styling) 2H
                li Forfait N°4, Vous bénéficiez d’un soin unique avec massage du cuir chevelu
                li Vous repartez avec La LOCKSBOX de saison en cadeau
            .col-sm-3.plan-price
              //-span A partir de
              span.price €300
              a(href="//www.lsreservation.com/onatty" class="plan-buy-btn") Prendre rendez-vous
