.container
  .row
    .col-sm-12
      .section-header.wow.fadeIn
        h2 Nos Tarifs
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lacus convallis
    .col-sm-12
      .pricing-container
        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait basic
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
            .col-sm-3.plan-price
              span A partir de
              span €49.99
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait basic
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
            .col-sm-3.plan-price
              span A partir de
              span €49.99
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait basic
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
            .col-sm-3.plan-price
              span A partir de
              span €49.99
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait basic
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
            .col-sm-3.plan-price
              span A partir de
              span €49.99
              a(href="#" class="plan-buy-btn") Prendre rendez-vous

        .pricing-single.wow.fadeIn
          .clearfix
            .col-sm-6.plan-name
              h3 Forfait basic
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam est, varius eu metus vel, placerat pretium urna. Duis neque arcu, pretium sed imperdiet.
            .col-sm-3.plan-list
              ul.list-unstyled
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
            .col-sm-3.plan-price
              span A partir de
              span €49.99
              a(href="#" class="plan-buy-btn") Prendre rendez-vous
