.container
  .center.wow.fadeInDown
    h2 Nos réalisations
    p.lead Retrouvez ici plusieurs de nos réalisations.

  .row
    .col-xs-12.col-sm-4.col-md-3
      .recent-work-wrap
        img(class="img-responsive" src="images/portfolio/recent/photo1.jpg" alt="")
        .overlay
          .recent-work-inner
            h3
              a(class="preview" href="images/portfolio/full/photo1.jpg" rel="prettyPhoto") Titre
            p …………
            a(class="preview" href="images/portfolio/full/photo1.jpg" rel="prettyPhoto")
              i.fa.fa-2x.fa-eye
              Voir
    .col-xs-12.col-sm-4.col-md-3
      .recent-work-wrap
        img(class="img-responsive" src="images/portfolio/recent/photo2.jpg" alt="")
        .overlay
          .recent-work-inner
            h3
              a(class="preview" href="images/portfolio/full/photo2.jpg" rel="prettyPhoto") Titre
            p …………
            a(class="preview" href="images/portfolio/full/photo2.jpg" rel="prettyPhoto")
              i.fa.fa-2x.fa-eye
              Voir
    .col-xs-12.col-sm-4.col-md-3
      .recent-work-wrap
        img(class="img-responsive" src="images/portfolio/recent/photo3.jpg" alt="")
        .overlay
          .recent-work-inner
            h3
              a(class="preview" href="images/portfolio/full/photo3.jpg" rel="prettyPhoto") Titre
            p …………
            a(class="preview" href="images/portfolio/full/photo3.jpg" rel="prettyPhoto")
              i.fa.fa-2x.fa-eye
              Voir
    .col-xs-12.col-sm-4.col-md-3
      .recent-work-wrap
        img(class="img-responsive" src="images/portfolio/recent/photo4.jpg" alt="")
        .overlay
          .recent-work-inner
            h3
              a(class="preview" href="images/portfolio/full/photo4.jpg" rel="prettyPhoto") Titre
            p …………
            a(class="preview" href="images/portfolio/full/photo4.jpg" rel="prettyPhoto")
              i.fa.fa-2x.fa-eye
              Voir
    .col-xs-12.col-sm-4.col-md-3
      .recent-work-wrap
        img(class="img-responsive" src="images/portfolio/recent/photo5.jpg" alt="")
        .overlay
          .recent-work-inner
            h3
              a(class="preview" href="images/portfolio/full/photo5.jpg" rel="prettyPhoto") Titre
            p …………
            a(class="preview" href="images/portfolio/full/photo5.jpg" rel="prettyPhoto")
              i.fa.fa-2x.fa-eye
              Voir
    .col-xs-12.col-sm-4.col-md-3
      .recent-work-wrap
        img(class="img-responsive" src="images/portfolio/recent/photo6.jpg" alt="")
        .overlay
          .recent-work-inner
            h3
              a(class="preview" href="images/portfolio/full/photo6.jpg" rel="prettyPhoto") Titre
            p …………
            a(class="preview" href="images/portfolio/full/photo6.jpg" rel="prettyPhoto")
              i.fa.fa-2x.fa-eye
              Voir
    .col-xs-12.col-sm-4.col-md-3
      .recent-work-wrap
        img(class="img-responsive" src="images/portfolio/recent/photo7.jpg" alt="")
        .overlay
          .recent-work-inner
            h3
              a(class="preview" href="images/portfolio/full/photo7.jpg" rel="prettyPhoto") Titre
            p …………
            a(class="preview" href="images/portfolio/full/photo7.jpg" rel="prettyPhoto")
              i.fa.fa-2x.fa-eye
              Voir
    .col-xs-12.col-sm-4.col-md-3
      .recent-work-wrap
        img(class="img-responsive" src="images/portfolio/recent/photo8.jpg" alt="")
        .overlay
          .recent-work-inner
            h3
              a(class="preview" href="images/portfolio/full/photo8.jpg" rel="prettyPhoto") Titre
            p …………
            a(class="preview" href="images/portfolio/full/photo8.jpg" rel="prettyPhoto")
              i.fa.fa-2x.fa-eye
              Voir
