.container
  .center.wow.fadeInDown
    h2 Nos Horaires
    p.lead Notre salon est ouvert

  .row
    .col-sm-6.col-md-4
      .media.services-wrap.wow.fadeInDown
        .media-body.text-center
          h3.media-heading Lundi
          p Fermé

    .col-sm-6.col-md-4
      .media.services-wrap.wow.fadeInDown
        .media-body.text-center
          h3.media-heading Mardi
          p Fermé

    .col-sm-6.col-md-4
      .media.services-wrap.wow.fadeInDown
        .media-body.text-center
          h3.media-heading Mercredi
          p 10:00 - 17:00

    .col-sm-6.col-md-4
      .media.services-wrap.wow.fadeInDown
        .media-body.text-center
          h3.media-heading Jeudi
          p 10:00 - 17:00

    .col-sm-6.col-md-4
      .media.services-wrap.wow.fadeInDown
        .media-body.text-center
          h3.media-heading Vendredi
          p 10:00 - 17:00

    .col-sm-6.col-md-4
      .media.services-wrap.wow.fadeInDown
        .media-body.text-center
          h3.media-heading Samedi
          p 10:00 - 17:00
