//-
  <section class="wpb_row vc_row-fluid absolute-slider mobile-hide vc_custom_1477888007277 vc_row-has-fill vc_row-o-equal-height vc_row-flex">
  <div class="container">
  <div class="row">
  <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill">
  <div class="vc_column-inner vc_custom_1475122003681">
  <div class="wpb_wrapper ">
      <div class="info-box padding20">
          <i class="icon_clock_alt id-color"></i>
          <div class="info-box_text">
              <div class="info-box_title">OPENING TIMES</div>
              <div class="info-box_subtite">Monday – Friday: 09:00 – 22:00</div>
          </div>
      </div>

  </div></div></div><div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill"><div class="vc_column-inner vc_custom_1475132494688"><div class="wpb_wrapper ">
      <div class="info-box padding20">
          <i class="icon_house_alt id-color"></i>
          <div class="info-box_text">
              <div class="info-box_title">OUR LOCATION</div>
              <div class="info-box_subtite">100 Mainstreet Center, Sydney</div>
          </div>
      </div>

  </div></div></div><div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill"><div class="vc_column-inner vc_custom_1475122019802"><div class="wpb_wrapper ">
      <div class="info-box padding20">
          <i class=" icon_calendar id-color"></i>
          <div class="info-box_text">
              <div class="info-box_title">BOOK NOW</div>
              <div class="info-box_subtite">+208 333 9296</div>
          </div>
      </div>

  </div></div></div></div></div><div class="clearfix"></div></section>
