.subfooter
  .container
    .row
      .col-md-6
        d &copy; 2017 Onatty
      .col-md-6
        ul.pull-right.list-unstyled.list-inline
          li
            a(href="index.html") Accueil
          li
            a(href="index.html#horaires") Nos Horaires
          li
            a(href="evenements.html") Evènements
          li
            a(href="index.html#prestations") Prestations
          li
            a(href="index.html#recent-works") Réalisations
