.subfooter
  .container
    .row
      .col-md-6
        d &copy; 2017 Onatty
      .col-md-6
        ul.pull-right.list-unstyled.list-inline
          li
            a(href="#") Accueil
          li
            a(href="#horaires") Nos Horaires
          li
            a(href="evenements.html") Evènements
          li
            a(href="#prestations") Prestations
          li
            a(href="#recent-works") Réalisations
