.subfooter
  .container
    .row
      .col-xs-5
        span &copy; 2017 Onatty
      //-.col-md-3
        span.author Made with <i class="fa fa-heart"></i> by <a data-toggle="tooltip" data-placement="top" href="https://lestudio.shuttlecoder.academy/" title="Agence web pour des sites pro" target="_blank">ShuttleCoder</a>
      .col-xs-2.text-center
        a(href="#top")
          i.fa.fa-chevron-up
      .col-xs-5.text-right
        span.author Made with <i class="fa fa-heart"></i> by <a data-toggle="tooltip" data-placement="top" href="https://lestudio.shuttlecoder.academy/" title="Agence Web de création de sites beaux et performants" target="_blank">ShuttleCoder</a>
        //-ul.pull-right.list-unstyled.list-inline
          li
            a(href="index.html") Accueil
          li
            a(href="index.html#horaires") Nos Horaires
          li
            a(href="evenements.html") Evènements
          li
            a(href="index.html#prestations") Prestations
          li
            a(href="index.html#recent-works") Réalisations
