.top-bar
  .container
    .row
      .col-sm-6.col-xs-4
        .top-number
          p
            i.fa.fa-phone-square
            d +33 xxx xxx xxx
      .col-sm-6.col-xs-8
        .social
          ul.social-share
            li
              a(href="#")
                i.fa.fa-facebook
            li
              a(href="#")
                i.fa.fa-twitter
