.top-bar
  .container
    .row
      .col-sm-6.col-xs-4
        .top-number
          p
            i.fa.fa-lg.fa-phone-square
            | 0140 24 12 94
            i.fa.fa-lg.fa-mobile
            | 0623 432 412
      .col-sm-6.col-xs-8
        .social
          ul.social-share
            li
              a(class="btn-facebook" target="_blank" href="https://www.facebook.com/Onatty-kréasyon-108718155835225/?fref=ts")
                i.fa.fa-facebook
            li
              a(class="btn-instagram" target="_blank" href="https://www.instagram.com/o_natty_locks/")
                i.fa.fa-instagram
