extends layout.pug

include mixins/_navigation.pug
include mixins/_event-panel.pug

block navigation
  - var path = './'
  +navigation(path)

block header

block content
  section.evenements
    .container
      .row.list-events
        //- Mariage Février 2017
        - var linkImg = "fashion-hair-show-2017"
        - var description = ""
        - var dates = "30 septembre 2017"
        +event-panel(path+'events/'+linkImg, linkImg, description, dates)

        //- Mariage Février 2017
        - var linkImg = "concours-mariage-02-2017"
        - var description = ""
        - var dates = "25 au 28 février 2017"
        +event-panel(path+'events/'+linkImg, linkImg, description, dates)

        //- Fashion Hair Show 2016
        - var linkImg = "fashion-hair-show-2016"
        - var description = "2ème édition du 1er salon Locks/Mode international"
        - var dates = "24 Septembre - 2016"
        +event-panel(path+'events/'+linkImg, linkImg, description, dates)

        //- Fashion Hair Show 2017
        - var linkImg = "fashion-hair-show-2015"
        - var description = "Show styling Locks Make up Mode"
        - var dates = "6 Juin - 2015"
        +event-panel(path+'events/'+linkImg, linkImg, description, dates)



      .row
        .col-sm-12
          .blog-area-pagination
            ul.pagination
              li.current-page
                a(href="#") 1
