doctype html
html(lang="fr")
head
  include includes/_meta.pug
  title Onatty Kreasyon

  include includes/_css.pug

  include includes/_head-scripts.pug

  include includes/_favicon.pug
  body.homepage

    header#header

      include includes/_top-bar.pug

      include includes/_navbar-2.pug

    section
      include includes/_maconery-grid-4.pug

    //-section#bottom
      include includes/_bottom.pug

    footer
      include includes/_footer.pug
      include includes/_sub-footer.pug

    include includes/_scripts.pug
