doctype html
html(lang="fr")
head
  include includes/_meta.pug
  title Onatty Kreasyon

  include includes/_css.pug

  include includes/_head-scripts.pug

  include includes/_favicon.pug
  body.homepage

    header#header

      include includes/_top-bar.pug

      include includes/_navbar.pug


    section#main-slider.no-margin
      include includes/_main-slider.pug

    //-section#feature
      include includes/_features.pug

    section#recent-works
      include includes/_recent-work.pug

    section#horaires.dark-section
      include includes/_openings.pug

    section#middle
    //-include includes/_middle.pug

    section#pricing-plan.pricing-plan
      include includes/_pricing.pug

    section#partner
      include includes/_partners.pug

    section#conatcat-info
      include includes/_contact-info.pug

    section#bottom
      include includes/_bottom.pug

    footer#footer.midnight-blue
      include includes/_footer.pug

    include includes/_scripts.pug
