extends layout.pug

block content
	section#intro.wpb_row.vc_row-fluid.display-table.bg-color-3.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex
		include includes/_intro.pug
	//-section#feature
		include includes/_features.pug

	section#recent-works
		include includes/_recent-work.pug

	section#horaires.dark-section
		include includes/_openings.pug

	section#middle
	//-include includes/_middle.pug

	section#pricing-plan.pricing-plan
		include includes/_pricing.pug

	section#partner
		include includes/_partners.pug

	section#conatcat-info
		include includes/_contact-info.pug

append scripts
	include includes/vendors/_getsitecontrol.pug
